repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-yaml

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: no-go-testing
      - id: golangci-lint
      - id: go-unit-tests
      - id: go-mod-tidy
      - id: validate-toml

  - repo: https://github.com/KeisukeYamashita/commitlint-rs
    rev: v0.2.3
    hooks:
      - id: commitlint
        stages: [prepare-commit-msg]
